<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: lightcyan;
        }
        .main {
          margin-top: 100px;
          text-align: center;
        }

        .inner {
          padding: 10px;
          background-color: lightskyblue;
          height: 500px;
          display: inline-block;
        }
        .inner > div > p {
          padding: 5px;
          float: left;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="inner">
            <p>You have successfully adopted a <b>{{ name }} pet</b></p>
        </div>
    </div>
</body>
</html>